
*{
    padding: 0;
    margin: 0;
}

body{
box-sizing: border-box;
font-family: 'Amazon Ember Medium Italic', Arial;
}

#navbar{
    z-index: 198;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
    min-width: 1000px;
}

#nav-belt{
    display: flex;
    position: static;
    height: 60px;
    width: 100%;
    font-size: 14px;
    z-index: 5;
    background-color: #131921;
    /* align-items: center; */
}

.nav-left{
    display: flex;
    align-items: center;
    flex: 1;
}


#nav-logo{
    margin-left:11px;

    width: auto;
    height: 50px;
 
    /* padding: 1px 8px 0 6px; */
    /* margin: 1px; */
}



.border:hover{
    border: 1px solid white;
}

#nav-global-location-slot{
    margin-left: 10px;
    height: 50px;
   
}


#nav-global-icon {
    width: 15px;
    font-size: 18px;
    margin-top: 8px;
}


#nav-global-location-popover-link{
    padding: 0 9px 0 9px;
    margin: 5px 2px 5px 0;
    min-width:80px;
}

#glow-ingress-block{
    margin-left: 3px;
}



.nav-fill{
    display: flex;
    flex: 5;
    height: 60px;
    align-items: center;
    padding: 0px 15px;
}

#nav-search{
    display: flex;
    height: 40px;
    width: 100%;
    
}



.nav-right{
    display: flex;
    align-items: center;
    flex: 2;
    margin-top: 2px;
    padding: 3px 0 0 0;
}

#nav-search-dropdown-card{
    display: flex;
    align-items: center;
    justify-content: center;
 
    flex: 0.7;
    background-color: #DADADA;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    max-width: 50px;
    border: 3px solid orange;

}

.nav-search-middle{
    display: flex;
    flex: 8;
}
.nav-search-middle input{
    width: 100%;
}




#america-icon{

    margin-left: 14px;

}

#flag{
    margin-top: 15px;

}

#flag i{
    position: relative;
    top: 5px; 
    margin-left: 2px;  
}

#flag img{
   max-height: 30px;
}

#middle-right-box{
    color: white;
    margin-left: 5px;
}

.middle-box-position{
    margin-top: 13px;
}

.middle-box-position i{
    position: relative;
    top: 13px;
    margin-left: 3px;
}

#middle-right-box-position p{
    color: white;
}

/* navbar2 */

#navbar2{
  display:flex ;
   height: 39px;
   padding-left: 11px;
   background-color: #232F3E;
   align-items: center;
   justify-content: space-between;
   min-width: 1000px;
}

#navbar2 a{
    padding: 3px 9px;
    text-decoration: none;
    color: white;
}


/* navbar3 */

#navbar3{
    
    font-size: 13px;
    padding: 0 26px!important;
    margin-top: 8px!important;
}

#navbar3 a{
    font-weight: 500;
    color:rgb(86, 89, 89);
    text-decoration: none;
}

#navbar3 a:hover{
    text-decoration:underline;
}



#ppd{
    
    display: flex;
    max-width: 1480px;
    min-width: 1200px;
    margin: auto;
    padding-top: 20px;

}

.left{

    flex: 2; 
}

.middle-fill{
    padding: 0px 52px;
    flex: 1.3; 
}


.middle-fill a{
    text-decoration: none;
    color: #007185
}

.middle-fill a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #C7511F;
}


.link-style a{
    text-decoration: none;
    color: #007185
}

.link-style a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #C7511F;
}



.middle-fill h1{
    font-size: 24px!important;
    line-height: 32px!important;
}


.right-fill{
   
    flex: 0.8; 
}


#image-list{
    display: flex;
    
}

#big-picture{
    margin-left: 80px;
}

.image-list-atr{
    display: flex;
    flex-direction: column;
  
}

.image-list-atr  li{
    list-style: none;
}
.image-list-atr  img{
    min-width: 45px;
    max-height: 45px;
}


.big-picture{
   
    position: relative;
   
}

.big-picture img{
    
    position: absolute;
    max-height: 750px;
    max-width:  500px
}


.star-row{
    display: flex;
    margin-top: 3px;
   
}
.star-row p{
    color: #007185
}
.star-row i{
    margin-top: 3px;
    color: #FFA41C;
    font-size:14px
}

#best-seller{
    display: flex;
    align-items: center;
}

#best-seller img{
    height: 40px;
    width: 120px;
}

#best-seller a{
margin-left: 10px;
}

.middle-fill hr{
    margin: 15px 0;
}

.middle-text-content{
    color: #565959;
   font-size: 14px!important;
    line-height: 20px!important; 
}


.about-list{
     font-size: 14px!important;
    line-height: 20px!important;
    margin: 0 0 15px 18px;
    color: #0F1111;

}

#about-list-title{
    padding-bottom: 7px;
    font-size: 16px;
}



#right-upper-container{
    padding: 15px;
    margin: 0 15px;
    border: 1px solid gray;
}

#right-upper-container p{
    line-height: 1.6;
    font-size: 14px;
    color:rgb(86, 89, 89)
}


.right-fill #right-middle-container{
    margin-top: 50px !important;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    border: 1px solid gray;
}
.right-fill #right-middle-container p{
    line-height: 1.6;
    font-size: 14px;  
}



.right-fill #right-down-container{
    padding: 10px;
    align-items: center;
    margin: 0 15px;
    border: 1px solid gray;
}
.right-fill #right-down-container p{
    line-height: 1.6;
    font-size: 14px; 
}

#right-down-image{
    display: flex;
    justify-content: center;
}

.right-fill a{
    text-decoration: none;
    color: #007185
}

.right-fill a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #C7511F;
}

#deliveryMessageMirId{
    margin: 10px 0px;
}

.select-dropdown{
    display: inline-block;
    border-radius: 7px;
    padding: 2px 4px;
    font-size: 12px;
    box-shadow: 0 2px 5px rgb(15 17 17 / 15%);
}


#buttons button{
    margin-top: 10px;
}


#lock a{
    position: relative;
    bottom: 5px;
}   

#lock img{
    height: 20px;
}

#Amazon-com{
    color:#565959;
    font-size: 12px;
} 
#Amazon-com td{
    width: 80px;
} 

#right-upper-container input{
   
    margin-right: 6px;
}


#israel-deliver{
    font-size: 12px;
}

#add-to-the-list{
    text-align: start;
    padding: 7px 15px;
    width: 100%;
}

.list-icons{
    margin: 0 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-icons li{
    list-style: none;
    padding: 0 7px;
}

.list-icons img{
    max-height: 20px;
}

.right-down-content{
    padding: 10px;
}

.right-down-content img{
    height: 25px;
    position: relative;
    top: 5px;
}

.low-content{
    min-width: 1000px;
    max-width: 1400px;
    margin: auto;
}

.low-content h4{
    font-size:16px;
    color:#cc6600;
}

.images-plus img{
    height: 100px;
}


.plus{
    position: relative;
    bottom: 50px;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    margin: auto;
}

#plus-position{
    margin-top: 50px;
}


.grid-container-images{
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1.5rem;
}
.grid-container-images > div{
    padding: 5px;
   
}



.grid-container-images a{
    display:block;
    font-size:14px
}

#arrow-left{
    position: relative;
    padding: 25px;
    color: white;
   
}


#arrow-right{
    position: relative;
    padding: 25px;
    color: white;
}

.position{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #cdd8d8;
    padding: 20px;
}




/* tools */

.left-arrow-direction {
    transform: rotate(135deg);
  }

.right-arrow-direction {
    transform: rotate(-45deg);
  }

.btn-backround{
    background: #F0F2F2;
}

.btn-backround:hover{
    background: #b9c0c0;
}

.spaceing-big{
    margin-top: 20px !important;
}

.spaceing{
    margin-top: 8px !important;
 }

.spaceing-small{
    margin-top: 5px;
 }




.right-box{
    height: 50px;
    margin-bottom: 4px;
    padding: 0px 7px;
}

.font-sm-gray{
    font-size:14px;
    color:#686868;
    line-height:14px;
    margin-bottom: 2px;
}

.flex{
    display: flex;
}

.flex-down{
    align-items: flex-end;
}
.flex-center{
    align-items:center;
    justify-content: center;
}

.font-md-white{
    font-size:16px;
    font-weight:700;
    color:rgb(255, 255, 255);
}

.arrow {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    
    border-top: 4px solid rgb(133, 130, 130);
  }

.white{
    color: white;
}

.border2:hover{
    
    box-shadow: 0 0 0 2px orange;
}

.down{
    transform: rotate(45deg);
 
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.arrow2{
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    bottom: 3px;
  }
  
  .arrow3 {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  

.red-big{
    font-size:18px;
    color:#b12704
}
.red-normal{
    color:#b12704;
    font-size: 14px;
}

.green-big {
    font-size:18px;
    color:rgb(0, 118, 0)
}

.normal{
    font-size: 14px;
}

.bold{
    font-weight: bold;
}


.grid-container{
    margin-top: 7px;
    width: 60%;
    display: grid;
    grid-gap: 1.0rem;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 10px;
}


.box{
    background-color: #FEFAF6;
    padding: 5px 10px 5px 11px;
    border: 2px solid orange;
}

.box:hover{
    background-color: #e2d6d6;
}

.box p{
    color:#686564
}

.box h4{
    padding-bottom: 5px;
    color: #1f1b1b;
}


.right-table{
    padding-left: 10px;
}



td{
    padding-bottom: 7px;
}

table h4{
    font-size: 14px;
}

table p{
    color: #0F1111;
    font-size: 14px;
}

.image-size img{
    position: relative;
    top: 5px;
    height: 18px;
}
hr{
    margin: 35px 0px;
}

.hr-normal {
    margin: 0;
}

.btn button{
    height: 29px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    width: 100%;
    cursor: pointer;
    
}

.btn button:hover{
    background: linear-gradient(to bottom,#f0ad11,#f0c14b);
}


.btn2 button{
    font-size: 12px;
    width: 100%;
    padding: 2px 5px;
}

.orange button{
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
}

.orange button:hover{
    background: linear-gradient(to bottom,#f0ad11,#f0c14b);
}

.grey button{
    background: #E4E7ED;
}

.grey button:hover{
    background: #999da7;
}

.small-text{
    color:rgb(85, 85, 85);
    font-size:12px
}

.right-chunk{
    padding-left: 25px;
}
.button-small-font{
    font-size:14px;
    padding:1px 6px
}

.flex-bigger{
    flex: 4;
}

.flex1{
    flex: 1;
}